# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Builds
ios/
android/
*.ipa
*.apk
*.aab

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Supabase
supabase/.branches/
supabase/.temp/

# Sentry
.sentryclirc
